<!DOCTYPE html>
<html>
<head>
    <title>Scanner</title>
    <script src="https://unpkg.com/html5-qrcode"></script>
</head>
<body>

<h1>QR-Code scannen</h1>

<div id="reader" style="width:300px;"></div>

<script>

function onScanSuccess(decodedText) {
    // decodedText = das was im QR-Code steht (z.B. "1")

    alert("Gescannter Code: " + decodedText);

    // Weiterleitung zu deinem Django Backend
    window.location.href = "/scan/" + decodedText;
}

var html5QrcodeScanner = new Html5QrcodeScanner(
    "reader",
    { fps: 10, qrbox: 200 }
);

html5QrcodeScanner.render(onScanSuccess);

</script>

</body>
</html>